//generator basic items:
$colors: (
  f: #fff,
  e: #eee,
  0: #000,
  3: #333,
  6: #666,
  8: #888,
  9: #999,
  primary: color("primary.default"),
  primary-lighten: lighten(color("primary.default"), 10%),
  primary-darken: darken(color("primary.default"), 10%),
  primary-50: rgba(color("primary.default"), 0.1),
  red-70: rgba(#f00, 0.7),
  red-90: rgba(255, 0, 0, 0.8),
  gray: color("gray")
);

$size: 12px;
$color: #f00;
body {
  width: -12 * $size;
  c1: hsl(200, 0.3, 0.8);
  test1: hue(#f5f7fa);
  test2: saturation(#f5f7fa);
  test3: lightness(#f5f7fa);
  // test4: adjust-hue(#f36, 150);
  // test5: adjust-hue(#f36, 150deg);
  test5_1: saturation(desaturate(#0056ff, 0.33));
  test6: hsl(216deg, 33%, 97);
}

// @debug $colors;

.color1 {
  color: map-get($colors, primary);
}

.color2 {
  color: color("primary.light");
  background: rgba(255, 2, 2, 0.8);
}

.color3 {
  color: color("primary.darken");
  background: rgba(color(secondary), 0.2);
}

.color3 {
  // color: hsl(hue(get("primary.default")), 33%, 97);
}
